[submodule "AMSPlusWebPage"]
	path = AMSPlusWebPage
	url = https://github.com/Hades2001/AMSPlusWebPage
[submodule "AMSPlusDocs"]
	path = AMSPlusDocs
	url = https://github.com/Hades2001/AMSPlusDocs
[submodule "firmware/QMSD-ESP32-BSP"]
	path = firmware/QMSD-ESP32-BSP
	url = https://github.com/smartpanle/QMSD-ESP32-BSP
